::before, ::after{
    box-sizing: border-box;
}

body{
    /* border: solid 3px red; */
    background-image: url(https://wallpaperaccess.com/full/1145728.jpg)
}
.textbox-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 25px;
}
.textbox{
    background-color: darkolivegreen;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    margin-left: 220px;
    margin-right: 220px;
    box-shadow: 0 0 11px 5px;
    padding: 150px;
    box-shadow: 0 0 10px 2px;
    border-radius: 7px;
}
.introBox, .storyBox{
    /* background-color: aliceblue; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
    font-size: larger;
    text-shadow: 1px;
    /* visibility: hidden; */
}
.startBtn, .option{
    font-weight: bolder;
    background-color: coral;
    border-radius: 5px;
    margin: 12px;
}


